# fly.toml app configuration file generated for connectiumai on 2026-01-21T01:10:09+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'connectiumai'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 7860
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']
  [http_service.concurrency]
    type = "requests"
    soft_limit = 20
    hard_limit = 25

[env]
  ORT_DISABLE_TELEMETRY = "1"

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
